---
import LabEditorComponent from "../../components/lab_editor_component.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="/didattica/visualizer.css" rel="stylesheet">
		<title>Laboratorio 3</title>
	</head>
	<body>
		
		<LabEditorComponent />
		<script>
			import { Lab_main } from "../../scripts/lab_main";

const code = `/*
	Usando lo scope dinamico definisci una funzione Saluta() che restituisce la stringa "Ciao Pippo" se viene chiamata dalla funzione Pippo
	e "Ciao Pluto" se viene chiamata dalla funzione Pluto().
	Non usare variabili globali.
	Utilizza i breakpoint per visualizzare i frame durante l'esecuzione.
*/

function Pippo(){
  const name = "Pippo";
  return Saluta();
}

function Pluto(){
  const name = "Pluto";
  return Saluta();
}

function Saluta(){
  return;
}

`;

const tests =`
_test(Pippo, "Ciao Pippo")
_test(Pluto, "Ciao Pluto")
`;
			Lab_main(code, tests);
		</script>
		
	</body>
</html>


